.investment_plans{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.investment_plans>div{
    background-color: #1c1f4f;
    color: #fff;
    font-size: 18px;
    width: 350px;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    margin: 30px;
}

.investment_plans>div h3{
    padding: 19px;
}
.investment_plans>div p{
    padding: 13px;
}

.investment_plans .percentage{
    font-size: 25px;
        font-weight: 600;
        padding: 10px;

}
.investment_plans .percentage h2{
 font-size: 40px;
    font-weight: 700;
}
.investment_plans>div{
    /* padding: 19px; */
    /* font-size: 24px;
    font-weight: 600; */
}

.investment_plans a{
   /* background-color: linear-gradient(to right, rgba(117, 88, 165, 1) 0%, rgba(37, 184, 213, 1) 99%);
border-radius: 10px; */

    border-radius: 15px;
    background-color: #6ae4ff;
    color: #fff;
    padding: 8px;
    margin-top: 10px;
    position: relative;
    top: 7px;
    
}