/* .center-card {
  display: flex;
  align-self: center;
  align-items: space-between;
  justify-self: center;
  justify-items: center;
  position: relative;
  flex-wrap: wrap;
  top: 20px;
} */
.col-lg-4.center-card {
  position: relative;
  top: 20px;
}
