.bottom-right{
    position: fixed;
    bottom: 0;
    right: 10px;
    z-index: 100;
}
.whatsapp-icon{
    width: 70px;
}
.img-placeholder.imagePreloader0{
    height: 20px;
}

@media (max-width:500px) {
  .whatsapp-icon{
    width: 50px;
}  
}